<style>
  -navigation-bar .oppia-bar-menu {
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    width: 270px;
    z-index: 100;
  }
  -navigation-bar .oppia-bar-menu-transition {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  -navigation-bar .oppia-bar-menu::after {
    background: rgba(0,0,0,0.2);
    content: '';
    display: none;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width: 100%;
  }
  -navigation-bar .oppia-bar-menu-icon {
    height: 22px;
    margin: 0 16px 3px 6px;
    vertical-align: middle;
    width: 22px;
  }
  -navigation-bar .oppia-bar-menu ul {
    font-size: 16px;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 10px;
  }
  -navigation-bar .oppia-bar-menu hr {
    margin-bottom: 0;
    margin-top: 0;
  }
  -navigation-bar .oppia-bar-menu .oppia-bar-section-header {
    color: #888;
    display: block;
    margin-left: 10px;
    padding: 1em 0 0 0;
    text-decoration: none;
  }
  -navigation-bar .oppia-bar-menu a {
    color: #333;
    display: block;
    padding: 1em 0 1em 18px;
    text-decoration: none;
  }
  -navigation-bar .oppia-bar-menu a:hover,
  -navigation-bar .oppia-bar-menu a:focus {
    background: rgb(243, 248, 255);
  }
  -navigation-bar .oppia-bar-menu li.active a {
    background: rgba(243, 248, 255, 0.5);
  }
  -navigation-bar .oppia-bar-logo-container {
    color: #333;
    margin: 0 auto;
    width: 120px;
  }

  -navigation-bar .oppia-bar-header {
    background: #eee;
    border-bottom: 1px solid #ccc;
    height: 56px;
    padding-top: 6px;
  }
  -navigation-bar .oppia-bar-menu-icon.fa {
    font-size: 24px;
  }

</style>
<nav class="oppia-bar-menu oppia-bar-menu-transition">
  <div class="oppia-bar-header">
    <div class="oppia-bar-logo-container">
    </div>
  </div>

  <ul>
    <li ng-class="{'active': NAV_MODE === 'library'}">
      <a href="/library">
        <i class="material-icons oppia-bar-menu-icon">&#xE88A;</i>
        <span translate="I18N_BAR_LIBRARY_LINK"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'about'}">
      <a href="/about">
        <i class="material-icons oppia-bar-menu-icon">&#xE887;</i>
        <span translate="I18N_BAR_ABOUT_LINK"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'get_started'}">
      <a href="/get_started">
        <i class="oppia-bar-menu-icon fa">&#xf135;</i>
        <span translate="I18N_BAR_GET_STARTED"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'teach'}">
      <a href="/teach">
        <i class="material-icons oppia-bar-menu-icon">&#xE88E;</i>
        <span translate="I18N_BAR_TEACH_WITH_OPPIA"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'donate'}">
      <a href="/donate">
        <i class="material-icons oppia-bar-menu-icon">&#xE87D;</i>
        <span translate="I18N_BAR_DONATE"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'blog'}">
      <a href="/blog">
        <img ng-src="<[getStaticImageUrl('/bar/blogger.png')]>" class="oppia-bar-menu-icon" alt>
        <span translate="I18N_BAR_BLOG"></span>
      </a>
    </li>

    <li ng-class="{'active': NAV_MODE === 'contact'}">
      <a href="/contact">
        <i class="material-icons oppia-bar-menu-icon">&#xE0BE;</i>
        <span translate="I18N_BAR_CONTACT_US"></span>
      </a>
    </li>
  </ul>

</nav>
